<!--
	main.hbs
	author: Gabriel Moreira
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Gabriel Moreira - Shop</title>
		<link rel="stylesheet" href="./css/logingallery.css" />
        <script type="text/javascript">
        </script>
	</head>

	<body>
<!--	placeholder for content from the header.hbs file in the /views/partials directory	-->
		{{>header}}
<!--	placeholder for the main webpage content from the /views directory (index.hbs file)	-->
		{{{body}}}												
	</body>
</html>
